# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.vscode

.*
!.gitignore
bench
local
go

!webapp/go

# 使わない言語
webapp/frontend
webapp/nodejs
webapp/perl
webapp/php
webapp/python
webapp/ruby
webapp/rust

env.sh
!s1/home/isucon/env.sh
!s2/home/isucon/env.sh
!s3/home/isucon/env.sh

logs
pprof